body{
    background-color: rgb(163, 170, 170);
    color: rgb(7, 51, 51);
}
body::selection{
    background-color:cyan;
    color:grey;
  }
h1,li{
    color: rgb(92, 87, 23);
}
h2{
    font-family: 'Benne', serif;
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}
.navbar li{
    width: 300px;
    display: inline;
    color: aquamarine;
}
a{
    color:red;
}
a:hover{
    color: greyy;
    background-color: aquamarine;
}
a:visited{
    color:purple;
}

.title {
    text-transform: uppercase;
    font-family: 'gilroy', sans-serif;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 5px;
    position: fixed;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);  
    color: transparent;
  }
  
  .title::before {
    content: 'I am Tanmay Mahato';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(12, 101, 104);
    overflow: hidden;
    border-right: 1px solid #000;
    white-space: nowrap;
    animation: type 5s  infinite;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    
    50% {
      width: 100%;
    }
    
    100% {
      width: 0;
    }
  }