*{
  box-sizing: border-box;
  list-style: none;
}
body{
    /* background-color: rgba(81, 85, 85)!important; */
    /* background: linear-gradient(to bottom,rgba(81, 85, 85),rgb(77, 17, 17)); */
    /* background-image: url(img/wall.jpg);
    background-attachment: fixed; */

    background: #495057!important;
    color: rgb(234, 241, 241);
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}
section {
  padding: 5em 2em;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.25rem;
}



/*header*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #495057!important;
}

.nav-logo {
  max-width: 100px;
}

.header__nav {
  position: fixed;
  background: black;
  color: cyan;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Uchen', serif;
  text-decoration: none;
}

.nav__link:hover {
  color: rgb(255, 136, 0);
}

.header__nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  top: 1em;
  z-index: 1000;
}

.nav-open .header__nav {
  transform: translateX(0);
}

.nav-open .header__nav-toggle {
  position: fixed;
}

.nav-open .header__hamburger {
  transform: rotate(.625turn);
}

.nav-open .header__hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .header__hamburger::after {
  opacity: 0;
}



.header__hamburger {
  display: block;
  position: relative;
}

.header__hamburger,
.header__hamburger::before,
.header__hamburger::after {
  background: yellow;
  width: 3em;
  height: 4px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.header__hamburger::before,
.header__hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.header__hamburger::before { top: 8px; }
.header__hamburger::after { bottom: 8px; }


img {
  display: block;
  max-width: 100%;
}
/*--INtro--*/
strong {
   font-weight: 700;
   color:#94d2bd;
  }



h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}


.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: 500;
  font-size: 3rem;
  color:#adb5bd;
  font-family: 'Uchen', serif;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

.section__subtitle--intro{
  background: #006466;
  padding: .25em 1em;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: inline-block;
}


.intro-me {
  position: relative;
}

.intro__img {
  box-shadow:  0.25em 0.25em 0.75em rgba(0,0,0,.25),
               0.125em 0.125em 0.25em rgba(0,0,0,.15);
  border-radius:50%;
}

@media (min-width: 800px) {
  .header__nav-toggle {
    padding: 5em;
    padding-right:8em;
  }
  .intro-me {
      display: grid;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: 
          "img title"
          "img subtitle";
      grid-template-columns: min-content max-content;
  }
  
  .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
  }    
  
  .section__subtitle--intro {
      align-self: start;
     
      grid-row: 2;
      text-align: center;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
  }

}




.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#scroll-down a {
  padding-top: 80px;
}
#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll-down a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* about */

.about-me {
  /* background-image: url(img/simple.jpg);
  background-attachment: fixed; */
  background-image: linear-gradient(to bottom, #495057 ,#343a40);

  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  
}

.section__title--about,
.section__title--skill,
.section__title--hobbies,
.section__title--edu {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  color: #ffb703;
  position: relative;
}
.section__title--skill,
.section__title--edu {
  padding-top: 10%;
}

.section__title--about::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
}
.service strong{
  color: #118ab2;
}

@media (min-width: 800px) {
  .services {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .service + .service {
      margin-left: 2em;
  }
}

.profile {
  /* background-image: url(img/simple.jpg);  */
  background-color: #343a40!important;
  font-size: 1.25rem;
  
  border: none;
}

.profile a {
  padding: 10px 0;
  color:#83c5be;
  font-weight: 600;
  text-decoration: none;
  
}
.service a i{
  margin: 3px;
}
.profile a:hover{
  color: #0099a7;
}

.neon-button{
  font-size: 1.5rem;
  font-weight: bold;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 
  0 0 0.45em hsl(317 100% 54%);

  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%),
  0 0 0.5em 0 hsl(317 100% 54%);

  position: relative;

  /* transition: background-color 100ms linear; */
}

.neon-button::before{
  pointer-events: none;
  content: '';
  position: absolute;

  background: hsl(317 100% 54%);
  top: 140%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg)
  scale(1,0.35);

  filter: blur(2em);
}

.neon-button::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.6em hsl(317 100% 54%);
  opacity: 0;
  transform: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus{
  background: hsl(317 100% 54%);
  color: hsl(323 21% 16%);
  text-shadow: none;
}
.neon-button:hover::before,
.neon-button:focus::before{
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after{
  opacity: 1;
}


  

/*Education*/
.container-fluid {
  /* background-image: url(img/simple.jpg); */
  /* background-attachment: fixed; */
  /* background-color: rgb(54, 12, 12); */
  background: #343a40!important;
  background-size: cover;
  
  color: rgb(255, 255, 255);
  margin: 0;
  
  font-family: 'Uchen', serif;
}
.section__title--edu {
  position: relative;
  text-align: center;
} 
.container-fluid{
padding-top: 2rem;

margin: 0;
}


/* .section__subtitle--edu{
  margin-bottom: 10px;
} */



/*skills*/
.skill{
  background-color: rgb(126, 127, 128);
  background-image: linear-gradient(to bottom, #343a40 ,rgb(14, 28, 56)); 
  background-size: cover;
  color: cyan;
  font-family: 'Uchen', serif;
}
 .section__title--skill {
  position: relative;
  text-align: center;
} 


.section__title--skill::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.2em auto 1em;
  background: black;
  opacity: 0.25;
}

@keyframes load{
  from {
    width: 0%;
  }
}
@-webkit-keyframes load{
  from {
    width: 0%;
  }
}
@-moz-keyframes load{
  from {
    width: 0%;
  }
}
@-o-keyframes load{
  from {
    width: 0%;
  }
}

.skill .my-skill .bar{
  background-color: rgb(25, 46, 81);
  padding: 3px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 1rem;
  margin: 20px;
  color: black;
  font-weight: 700;
  box-shadow: 0 0 10px #2187e7b3;
  width: 90%;
}
.skill .my-skill .bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 10s 0s;
  -moz-animation: load 10s 0s;
  -o-animation: load 10s 0s;
}

.skill .my-skill .bar.front-1::before{
  background-color: rgb(69, 143, 211);
}
.skill .my-skill .bar.front-2::before{
  background-color: coral;
}
.skill .my-skill .bar.back-1::before{
  background-color: #264de4;
}
.skill .my-skill .bar.back-2::before{
  background-color: yellow;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(95% - 10px);
}





/* @media screen and (max-width: 750px){
  .skill{
    display: flex;
      flex-direction: column;
      padding: 10px 10px;
  }
  .skill .my-skill div{
    display: block;
  }
}  */


/* projects */
.git {
  padding-top: 10%;
  padding-bottom: 7%;
  padding-left: 4%;
  background-color: rgb(14, 28, 56)!important;
  color: #a8dadc!important;
}


/* hobbies */
.hobbies{
  background-image: url(img/hobbies.jpg);
  background-attachment: fixed;
  background-color: rgb(16, 34, 68);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  
  font-family: 'Uchen', serif;
}
.section__title--hobbies {
  padding-top: 5%;
  padding-bottom: 5%;
}
.section__title--hobbies::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}
.hobbies .hobbies-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.hobbies .hobbies-color-change:hover{
  color:rgb(57, 146, 197);
}
@media screen and (max-width: 750px){
  .hobbies .hobbies-row{
      display:block;
      padding: 10px 10px;
  }
  .hobbies .hobbies-row .hobbies-color-change{
    padding:20px;
  }
}

/*CONTACT*/

.contact-me{
  background-color: rgb(20, 4, 4);
  background-size: cover;
  color: rgb(223, 6, 132);
  text-align: center;
  
  font-family: 'Uchen', serif;
}
.contact-me span{
  display: block;
}
.contact-me span a{
  text-decoration: none;
  font-size: 1.5rem;
  color: coral;
}
.contact-me span a:hover{
  color: rgb(223, 6, 132);
}

.small_handle a{
  display:inline;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Uchen', serif;
  
}

/* .small_handle a:hover{
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px 10px;
  text-decoration: none;
  box-sizing: border-box;
} */

@media screen and (max-width: 700px){
  /* .contact-me{
      flex-direction: column;
      padding: 10px 10px;
  }
  .small_handle a{
    display: block;
  } */

  .small_handle a{
    margin-top: 10px;
    padding: 0 10px;
  }
}


.small_handle a i{
  margin: 4px;
}

.fb_handle{
  color: #4267B2;
}
/* .fb_handle:hover{
  background-color: #4267B2;
  color: white;
} */

.ld_handle{
  color: #0077b5;
}
/* .ld_handle:hover{
  background-color: #0077b5;
  color: white;
} */

.in_handle{
  color: #8a3ab9;
}
/* .in_handle:hover{
  background-color: #8a3ab9;
  color: white;
} */
/* 
.gt_handle{
  color: white;
} */
/* .gt_handle:hover{
  background-color: white;
  color: black;
} */

/* Preloader */
#preloader{
  background: black url(img/load.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
@media screen and (max-width: 700px){
  #preloader{
    background-size: 50%;
  }
  
}

/* Scroll-to-up */
#btnScrollToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #adb5bd;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #212529;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active{
  background: cyan;
  color: rgb(46, 43, 43);
}