*{
  box-sizing: border-box;
  list-style: none;
}
body{
    background-color: rgb(81, 85, 85);
    color: rgb(234, 241, 241);
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 1rem;
    line-height: 1.6;
}
section {
  padding: 5em 2em;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.25rem;
}


/*header*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: black;
  color: cyan;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

.nav__link:hover {
  color: cyan;
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}



.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: cyan;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


img {
  display: block;
  max-width: 100%;
}
/*--INtro--*/
strong {
   font-weight: 700;
   color:cyan;
  }



h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}


.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: 400;
  color:yellow;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: #087462;
  padding: .25em 1em;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1em;
  display: inline-block;
}


.intro {
  position: relative;
}

.intro__img {
  box-shadow:  0.25em 0.25em 0.75em rgba(0,0,0,.25),
               0.125em 0.125em 0.25em rgba(0,0,0,.15);
  border-radius:50%;
}

@media (min-width: 600px) {
  .intro {
      display: grid;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: 
          "img title"
          "img subtitle";
      grid-template-columns: min-content max-content;
  }
  
  .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
  }    
  
  .section__subtitle--intro {
      align-self: start;
     
      grid-row: 2;
      text-align: center;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
  }
}

/* about */

.about-me {
  /*background-color: black;*/
  background-image: url(img/simple.jpg);
  background-attachment: fixed;
  background-color: rgb(54, 12, 12);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
}

.section__title--about {
  color: cyan;
  position: relative;
}

.section__title--about::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.5rem;
}
.service strong{
  color: rgb(255, 68, 0);
}

@media (min-width: 800px) {
  .services {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .service + .service {
      margin-left: 2em;
  }
}

.profile {
  background-image: url(img/simple.jpg); 
  background-color: rgb(54, 12, 12);
  font-size: 1.25rem;
  
  border: none;
}

.profile a {
  padding: 10px 0;
  color:rgb(56, 224, 14);
  
}
.service a i{
  margin: 3px;
}
/*skills*/
.skill{
  background-color: rgb(16, 34, 68);
  background-image: linear-gradient(to bottom, rgb(110, 31, 31) ,rgb(14, 28, 56));
  background-size: cover;
  color: cyan;
  text-align: center;
}
.section__title--skill {
  color: rgb(255, 166, 0);
  position: relative;
}
.skill div{
  display:inline;
  text-decoration: none;
  padding: 20px 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.2s;
}
.section__title--skill::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}
@media screen and (max-width: 750px){
  .skill{
    display: flex;
      flex-direction: column;
      padding: 10px 10px;
  }
  .skill div{
    display: block;
  }
}

/* hobbies */
.hobbies{
  background-image: url(img/hobbies.jpg);
  background-attachment: fixed;
  background-color: rgb(16, 34, 68);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
}
.section__title--hobbies {
  color: rgb(255, 171, 14);
  position: relative;
}
.section__title--hobbies::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}
.hobbies .row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.hobbies .color-change:hover{
  color:rgb(57, 146, 197);
}
@media screen and (max-width: 750px){
  .hobbies .row{
      display:block;
      padding: 10px 10px;
  }
}

/*CONTACT*/

.contact-me{
  background-color: rgb(20, 4, 4);
  background-size: cover;
  color: rgb(223, 6, 132);
  text-align: center;
}


.small_handle a{
  display:inline;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.2s;
}

.small_handle a:hover{
  background-color: rgb(44, 24, 24);
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px 10px;
  text-decoration: none;
}

@media screen and (max-width: 700px){
    .contact-me{
        flex-direction: column;
        padding: 10px 10px;
    }
    .small_handle a{
      display: block;
    }
}


.small_handle a i{
  margin: 3px;
}

.fb_handle{
  color: #4267B2;
}

.ld_handle{
  color: #0077b5;
}

.in_handle{
  color: #8a3ab9;
}