*{
  box-sizing: border-box;
  list-style: none;
}
body{
    /* background-color: rgba(81, 85, 85)!important; */
    background: linear-gradient(to bottom,rgba(81, 85, 85),rgb(77, 17, 17));
    color: rgb(234, 241, 241);
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}
section {
  padding: 5em 2em;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.25rem;
}



/*header*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-image: linear-gradient(to right, rgb(166, 166, 166), rgba(81, 85, 85));
}

.nav-logo {
  max-width: 100px;
}

.header__nav {
  position: fixed;
  background: black;
  color: cyan;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Uchen', serif;
  text-decoration: none;
}

.nav__link:hover {
  color: rgb(255, 136, 0);
}

.header__nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  top: 1em;
  z-index: 1000;
}

.nav-open .header__nav {
  transform: translateX(0);
}

.nav-open .header__nav-toggle {
  position: fixed;
}

.nav-open .header__hamburger {
  transform: rotate(.625turn);
}

.nav-open .header__hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .header__hamburger::after {
  opacity: 0;
}



.header__hamburger {
  display: block;
  position: relative;
}

.header__hamburger,
.header__hamburger::before,
.header__hamburger::after {
  background: yellow;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.header__hamburger::before,
.header__hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.header__hamburger::before { top: 6px; }
.header__hamburger::after { bottom: 6px; }


img {
  display: block;
  max-width: 100%;
}
/*--INtro--*/
strong {
   font-weight: 700;
   color:cyan;
  }



h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}


.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: 500;
  font-size: 3rem;
  color:yellow;
  font-family: 'Uchen', serif;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

.section__subtitle--intro{
  background: #087462;
  padding: .25em 1em;
  color: antiquewhite;
  margin-bottom: 1em;
  display: inline-block;
}


.intro-me {
  position: relative;
}

.intro__img {
  box-shadow:  0.25em 0.25em 0.75em rgba(0,0,0,.25),
               0.125em 0.125em 0.25em rgba(0,0,0,.15);
  border-radius:50%;
}

@media (min-width: 600px) {
  .intro-me {
      display: grid;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: 
          "img title"
          "img subtitle";
      grid-template-columns: min-content max-content;
  }
  
  .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
  }    
  
  .section__subtitle--intro {
      align-self: start;
     
      grid-row: 2;
      text-align: center;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
  }

}



/* about */

.about-me {
  background-image: url(img/simple.jpg);
  background-attachment: fixed;
  background-color: rgb(54, 12, 12);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  
  font-family: 'Uchen', serif;
}

.section__title--about,
.section__title--skill,
.section__title--hobbies,
.section__title--edu {
  font-size: 2.2rem;
  font-weight: 500;
  color: cyan;
  position: relative;
}

.section__title--about::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
}
.service strong{
  color: rgb(255, 68, 0);
}

@media (min-width: 800px) {
  .services {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .service + .service {
      margin-left: 2em;
  }
}

.profile {
  background-image: url(img/simple.jpg); 
  background-color: rgb(77, 39, 26);
  font-size: 1.25rem;
  
  border: none;
}

.profile a {
  padding: 10px 0;
  color:rgb(56, 224, 14);
  
}
.service a i{
  margin: 3px;
}

/*Education*/
.container {
  /* background-image: url(img/simple.jpg); */
  /* background-attachment: fixed; */
  /* background-color: rgb(54, 12, 12); */
  background-size: cover;
  color: rgb(255, 255, 255);
  
  font-family: 'Uchen', serif;
}
.section__title--edu {
  color: rgb(255, 0, 0);
  position: relative;
  margin-bottom: 30px;
  text-align: center;
} 
.container{
padding-top: 5rem;

margin:30px;
}
#education{
	padding-top: 5rem;
  }
  
  #education .active{
	background-color: #c15554;
	border-color: #c15554;
  }


/*skills*/
.skill{
  background-color: rgb(126, 127, 128);
  background-image: linear-gradient(to bottom, rgb(110, 31, 31) ,rgb(14, 28, 56)); 
  background-size: cover;
  color: cyan;
  font-family: 'Uchen', serif;
}
 .section__title--skill {
  color: rgb(204, 255, 0);
  position: relative;
  text-align: center;
} 


.section__title--skill::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.2em auto 1em;
  background: black;
  opacity: 0.25;
}

@keyframes load{
  from {
    width: 0%;
  }
}
@-webkit-keyframes load{
  from {
    width: 0%;
  }
}
@-moz-keyframes load{
  from {
    width: 0%;
  }
}
@-o-keyframes load{
  from {
    width: 0%;
  }
}

.skill .my-skill .bar{
  background-color: rgb(25, 46, 81);
  padding: 3px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 1rem;
  margin: 20px;
  color: black;
  font-weight: 700;
  box-shadow: 0 0 10px #2187e7b3;
  width: 90%;
}
.skill .my-skill .bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 10s 0s;
  -moz-animation: load 10s 0s;
  -o-animation: load 10s 0s;
}

.skill .my-skill .bar.front-1::before{
  background-color: rgb(69, 143, 211);
}
.skill .my-skill .bar.front-2::before{
  background-color: coral;
}
.skill .my-skill .bar.back-1::before{
  background-color: #264de4;
}
.skill .my-skill .bar.back-2::before{
  background-color: yellow;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(95% - 10px);
}





/* @media screen and (max-width: 750px){
  .skill{
    display: flex;
      flex-direction: column;
      padding: 10px 10px;
  }
  .skill .my-skill div{
    display: block;
  }
}  */

/* hobbies */
.hobbies{
  background-image: url(img/hobbies.jpg);
  background-attachment: fixed;
  background-color: rgb(16, 34, 68);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  
  font-family: 'Uchen', serif;
}
.section__title--hobbies {
  color: rgb(255, 171, 14);
  position: relative;
}
.section__title--hobbies::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}
.hobbies .hobbies-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.hobbies .hobbies-color-change:hover{
  color:rgb(57, 146, 197);
}
@media screen and (max-width: 750px){
  .hobbies .hobbies-row{
      display:block;
      padding: 10px 10px;
  }
  .hobbies .hobbies-row .hobbies-color-change{
    padding:20px;
  }
}

/*CONTACT*/

.contact-me{
  background-color: rgb(20, 4, 4);
  background-size: cover;
  color: rgb(223, 6, 132);
  text-align: center;
  
  font-family: 'Uchen', serif;
}
.contact-me span{
  display: block;
}
.contact-me span a{
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(175, 14, 14)
}
.contact-me span a:hover{
  color: rgb(223, 6, 132);
}

.small_handle a{
  display:inline;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Uchen', serif;
  
}

.small_handle a:hover{
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px 10px;
  text-decoration: none;
}

@media screen and (max-width: 700px){
  /* .contact-me{
      flex-direction: column;
      padding: 10px 10px;
  }
  .small_handle a{
    display: block;
  } */

  .small_handle a{
    margin-top: 10px;
    padding: 0 10px;
  }
}


.small_handle a i{
  margin: 4px;
}

.fb_handle{
  color: #4267B2;
}
.fb_handle:hover{
  background-color: #4267B2;
  color: white;
}

.ld_handle{
  color: #0077b5;
}
.ld_handle:hover{
  background-color: #0077b5;
  color: white;
}

.in_handle{
  color: #8a3ab9;
}
.in_handle:hover{
  background-color: #8a3ab9;
  color: white;
}

.gt_handle{
  color: white;
}
.gt_handle:hover{
  background-color: white;
  color: black;
}