body{
    background-color: rgb(163, 170, 170);
    color: rgb(7, 51, 51);
}
body::selection{
    background-color:cyan;
    color:grey;
  }
h1,li{
    color: rgb(92, 87, 23);
}
h2{
    font-family: 'Benne', serif;
    font-family: 'Open Sans', sans-serif;
}
.navbar li{
    width: 300px;
    display: inline;
    color: aquamarine;
}
a:hover{
    color: greyy;
    background-color: aquamarine;
}
a:visited{
    color:black;
 }